@import url('https://fonts.googleapis.com/css?family=Raleway:200');
*{
  font-family: 'Raleway', sans-serif;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #031a25;
   
}
.title {
  text-align: center;
  color: #fff;
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1s steps(20) infinite alternate,
    blink 700ms steps(12) infinite normal;
  border-bottom: 2px solid #fff;
}
@keyframes typewriter {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from {
    border-color: #fff;
  }
  to {
    border-color: transparent;
  }
}
h2{
  color: #fff;
  text-align: center;
  width: 50%;
}
h3{
  color: white;
}
.linha {
  border-color: #aaa;
  box-sizing: border-box;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.content1 {
  display: flex;
  justify-content: center;
}
.textContact{
  text-align: center;
}
.iconsArea{
  text-align: center;
}
.content2{
  border: 2px solid rgb(95, 6, 6);
  border-radius: 1em;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color:black;
  margin: 0 auto;
}
@media only screen and (max-width: 600px){
    .content2{
      border: 2px solid rgb(68, 0, 255);
      padding-top: 10px;
    }
  }
